body {
    background-color: #E3CCA1;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#container{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-right: solid 2px, #52331C;
    border-left: solid 2pc, #52331C;
}
/*MENU SECTION */
#menu{
    width: 170px;
    float: left;
}

#menu ul{
    list-style-type: none;
    margin: 0px;

}

#menu li{
    background-color: #E8CC9F;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
}

/*MAIN SECTION STYLES*/
#main{
    margin-left: 190px;
}
#main h3{
    color: #4D331E;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 24px;
}
#main p{
    font-size: 16px;
    margin-top: 06px;
    margin-bottom: 6px;
}
/*TEXT STYLES */
h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 76px;
    color: #4D331E;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 26px;   
}

#main a:link, #main a:visited{
    font-weight: bold;
    margin-top: 0px;
    font-size: 26px;
    text-decoration: non;
    color: #900
}

p {
    font-size: 16px;
    color: #4D331E;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#main a :hover, main a:active{
    color: #03c;
    text-decoration: underline;
}


/*FOOTER SECTION*/
#footer{
    background-color: #4D331E;
    margin-top: 20px;
    clear: both; /*MAKES THE FOOTER ALWAYS SIT UNDERNEATH MENY AND IMAGE*/
}
#footer p{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
    color: #FFFFFF;
    text-align: center;

}
#footer a:link, #footer a:visited{
    color: #E8CC9F;
    text-decoration: none;
}
#footer a:hover, #footer a:active{
    color: #4D331E;
    text-decoration: underline;
}


/*LINK STYLES*/
a:link, a:visited{
    color: #060;
    font-weight: bold;
    text-decoration: none;

}
#menu a:hover,#menu a:active{
    color: #900;
    text-decoration: underline;
}

/*CLASS STYLES*/
.rightfloat{
    border: 2px solid #060;
    margin: 8px;
    float: right;

}